/*��ҳ*/
.T2_ticket {border:#a5d1f1 1px solid;border-top:#1da1ce 2px solid;_height:100%; font-family:Verdana, Geneva, sans-serif;}
.T2_ticket a:link,.T2_ticket  :visited,.T2_ticket a:active { color:#07679c; text-decoration:none;}
.T2_ticket a:hover { color:#FF0000;}
.T2_ticket .ttit { background:url(img/T2_ticket_tit.png) 0px 0px repeat-x; height:35px;line-height:35px; text-align:left; border-bottom:#a5d1f1 1px solid; position:relative;}
.T2_ticket .ttit strong { color:#FF0000;}
.T2_ticket .ttit .th3 { font-size:16px; font-weight:bold; color:#07679c; padding:0px 0px 0px 10px;margin:0px;}
.T2_ticket .ttit .th3 span { font-size:12px; font-weight:normal; position:absolute; right:10px; top:0px;}

.T2_ticket .cont { border-top:none; padding:9px;}
.T2_ticket .cont ul { margin:0px; padding:0px; clear:both;}

.T2_ticket .cont h3.thetit {font-weight:bold; text-align:left; padding:0px 0px 0px 10px; line-height:30px;font-size:14px; color:#666; background:#F5F5F5;}
.T2_ticket .cont ul.tj_ul { padding:0px 0px 15px 0px;}
.T2_ticket .cont ul.tj_ul li { float:left; list-style:none; line-height:22px; width:25%; display:inline-block; text-align:left;padding-left:8%; position:relative;}
.T2_ticket .cont ul.tj_ul li span.cF60 {color: #FF6600;float: left;font-weight:bold;position: absolute;top: 0; left:0px;}

/*��ҳ������*/
.T2_index_search { border:#a5d1f1 1px solid; border-top:#1da1ce 2px solid; background:#f9fcff; padding:0px 9px 9px 9px;}
.T2_index_search h2 { color:#07679c; font-size:14px; font-weight:bold; margin:0px; padding:0px; text-align:left; line-height:40px;}
.T2_index_search .search_form {border:#a5d1f1 1px solid; background:#FFF;}
.T2_index_search #searchtab { text-align:center; line-height:40px; font-size:14px; color:#aaa;}
.T2_index_search #searchtab a { padding:0px 15px; text-decoration:none;}
.T2_index_search #searchtab .cur { font-weight:bold;}
.T2_index_search .s_bottom { line-height:40px; color: #666; font-family: Verdana, Geneva, sans-serif; text-align:center;}

.T2_index_search .s_form { padding:10px 0px; text-align:center;}
.T2_index_search .s_form .pl { color:#666; padding:10px 0px;}
.T2_index_search .s_form .pl .redb { color: #F30;}
.T2_index_search .s_form .inputtext { border:#bbb 1px solid; background:#FFF; width:380px; line-height:30px; height:30px; padding:4px; font-size:11pt; margin-right:10px;}
.T2_index_search .s_form .btn { background:url(../images/btn.png) repeat-x; height:30px; line-height:30px; text-align: center; padding:0px 15px; cursor:pointer; border:#427fa9 1px solid; color:#FFF; font-size:14px; font-weight:bold;}

.T2_recent_query .result { padding:9px;}
.T2_recent_query .result li { float:left; margin-right:15px;}

.loading{background-image: url("../images/loading.gif"); background-repeat: no-repeat;}
.dateSpan{float: right; color: #FFF; }
.loginForm{font-size: 10pt; color: #555; margin: 0 auto; padding: 8px;}
.loginbtn{background:url(../images/btn.png) repeat-x; height:22px; lwidth:45px; text-align: center; cursor:pointer; border:#427fa9 1px solid; color:#FFF; font-size:10pt; margin-top: 8px;}
#registea,#userInfo a{display:inline; float:none;line-height:20px;padding:1px 1px 2px 1px;text-align: center;width:68px; height:20px; padding-top:0px; cursor: pointer;}
.hrbottom{border-bottom: 1px solid;border-bottom-color: #A5D1F1;}
.research{background:url(../images/btn.png) repeat-x; height:28px; line-height:28px; width:65px; text-align: center; padding:0px 15px; cursor:pointer; border:#427fa9 1px solid; color:#FFF; font-size:10pt; margin-top: 8px;}
.hotcity li{list-style: none; float: left; padding-left: 8px;}

.zzinput{ border:#bbb 1px solid; background:#FFF; width:200px; line-height:30px; height:30px; padding:4px; font-size:11pt; margin-right:10px;}

.searchbtn{
	background: url("../images/btn.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #427fa9;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    text-align: center;
}

